{% load static %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% block content %}
<div class="container">
    <h2>Forgot Password</h2>
    <p>Silahkan masukkan email Anda. Kami akan mengirimkan link untuk atur ulang kata sandi.</p>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <button type="submit" class="submit-btn-modal">Reset my password</button>
    </form>
</div>
{% endblock %}
